@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');



body {
    margin: 0;
    padding: 0;
    border: 0;
}


.caixa {
    width: 100%;
    height: 90px;
    background: #232323;
    padding-top: 15px;
    border-bottom: 5px solid orangered;
}

.titulo {
    float: left;
}

.lista {
    float: right;
    padding-top: 10px;
}

.cabecalho h1 {
    color: white;
    font-family:'Open Sans';
}

.cabecalho li {
    display: inline;
    color: white;
    margin: 20px;
    font-family: 'Open Sans';
}


.cabecalho {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

#palavra_laranja {
    color: orangered;
}

.linha_laranja {
    height: 5px;
    width: 100%;
    background: orangered;
}



ul {
    list-style: none;
}

.faixa input {
    float: right;
    margin-right: 5px;
    width: 200px;
    height: 20px;
    margin-top: 20px;
}

.faixa button {
    float: right;
    background: orangered;
    color: white;
    height: 26px;
    width: 60px;
    margin-top: 20px;
    border: none;

}

.faixa {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.faixa h1 {
    float: left;
    color: white;
    font-family:'Open Sans';
}

.apresentacao {
    min-height: 400px;
    height: 100%;
    background-image: url(./team.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
}

.apresentacao .cabecalho h1 {
    margin: 0;
    color: orangered;
}

.apresentacao .cabecalho p {
    color: white;
    font-size: 25px;
    font-family: 'Open Sans';
}

.rodapé {
    height: 90px;
    width: 100%;
    background: orangered;
    color: white;
    text-align: center;
    font-family: 'Open sans';
    padding-top: 35px;
}


.faixa_valores {
        max-width: 1400px;
        min-height: 400px;
        text-align: center;
        align-items: center;
        margin: 0 auto;
}

.faixa_valores img {
    width: 145px;
}

.icones {
    align-items: center;
    font-family: 'Open Sans';
    float: left;
    text-align: center;
    margin-left: 50px;
    padding-top: 50px;
}

.container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

