@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');



body {
    margin: 0;
    padding: 0;
    border: 0;
}


.caixa {
    width: 100%;
    height: 90px;
    background: #161b22;
    padding-top: 15px;
}

.cabecalho h1 {
    float: left;
    color: white;
    font-family:'Open Sans';
}

.cabecalho li {
    display: inline;
    color: white;
    float: right;
    margin: 20px;
    font-family: 'Open Sans';
}


.cabecalho {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

#palavra_laranja {
    color: orangered;
}



ul {
    list-style: none;
}

.faixa input {
    float: right;
    margin-right: 5px;
    width: 200px;
    height: 20px;
    margin-top: 20px;
}

.faixa button {
    float: right;
    background: orangered;
    color: white;
    height: 20px;
    margin-top: 20px;

}

.faixa {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.faixa h1 {
    float: left;
    color: white;
    font-family:'Open Sans';
}